.gift {
    height: 628px;
    padding: 86px 0 87px 0;
    background-color: $bg-color-gray;
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__text {
        margin-top: 42px;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        color: #252525;
    }
    &__btn {
        margin-top: 52px;
        border: 0 0 4px 0 rgba(0, 0, 0, 0.11);
        font-weight: 700;
    }
}