.gift {
    min-height: 560px;
    padding: 86px 0 87px 0;
    background-color: $bg-color-gray;
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__text {
        margin-top: 42px;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        line-height: 38px;
        color: #252525;
    }
    &__btn {
        margin-top: 52px;
        font-weight: 700;
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.11);
    }
}