.optimization {
    margin: 102px 0 107px 0;
    .header {
        margin-left: 388px;
        font-weight: 900;
        font-size: 29px;
        text-align: left;
        color: #299cbd;
    }
    &__text {
        margin-top: 25px;
        margin-left: 388px;
        font-weight: 100;
        font-size: 17px;
        line-height: 21px;
        color: #4a4a4a;
        span {
            font-weight: 700;
        }
    }
    &__img {
        position: absolute;
        top: -54px;
        left: -240px;
        z-index: -1;
    }
}