.waiting {
    min-height: 604px;
    background-color: $bg-color-gray;
    padding: 85px 0 75px 0;
    .divider {
        margin-top: 18px;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 300;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
        color: $text-color-dark-grey;
    }
    &__wrapper {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 342px);
        grid-template-rows: auto;
        column-gap: 48px;
        row-gap: 28px;
        justify-items: center;
        justify-content: center;
    }
    &__item {
        text-align: center;
    }
    &__img {
        width: 100%;
    }
    &__descr {
        margin-top: 33px;
        min-height: 77px;
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: $text-color-dark-grey;
    }
}