.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
    .divider {
        margin-top: 18px;
    }
    &__subheader {
        margin-top: 17px;
        font-family: 'Roboto Light', sans-serif;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
        color: #4a4a4a;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }
    &__item {
        width: 339px;
        text-align: center;
    }
    &__img {
        width: 100%;
    }
    &__descr {
        margin-top: 33px;
        min-height: 77px;
        font-family: 'Roboto Light', sans-serif;
        font-size: 15px;
        line-height: 21px;
        color: #4a4a4a;
    }
}