@import "libs/bootstrap-reboot.min.css";
@import "libs/fonts";
@import "variables";
@import "blocks/buttons";
@import "blocks/promo/promo";
@import "blocks/promo/promo-media";
@import "blocks/waiting/waiting";
@import "blocks/waiting/waiting-media";
@import "blocks/optimization/optimization";
@import "blocks/optimization/optimization-media";
@import "blocks/finish/finish";
@import "blocks/finish/finish-media";
@import "blocks/gift/gift";
@import "blocks/gift/gift-media";
@import "blocks/first-webinar/first-webinar";
@import "blocks/first-webinar/first-webinar-media";
@import "blocks/footer/footer";
@import "blocks/footer/footer-media";

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    @media screen and ( max-width: 1176px ) {
        width: calc(100% - 60px);
    }
    @media screen and ( max-width: 575px ) {
        width: calc(100% - 30px);
    }
    @media screen and ( max-width: 425px ) {
        width: calc(100% - 20px);
    }
}

.divider {
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: $color-yellow;
}

.header {
    line-height: 27px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}