@import "libs/bootstrap-reboot.min.css";
@import "libs/fonts";
@import "blocks/bottons";
@import "blocks/promo/promo";
@import "blocks/waiting/waiting";
@import "blocks/optimization/optimization";
@import "blocks/finish/finish";
@import "blocks/gift/gift";
@import "blocks/first-webinar/first-webinar";
@import "blocks/footer/footer";

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: $color-yellow;
}

.header {
    line-height: 27px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}